<h1>You Are Editing:</h1>

<h2><%= @landmark.name %></h2>
<h2>Year Completed: <%= @landmark.year_completed %></h2>

<form method="POST" action="/landmarks/<%= @landmark.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Update the Name:  <input type="text" name="landmark[name]" id="name">
  <br></br>
  Update the Year Completed: <input type="text" name="landmark[year_completed]" id="year_completed">
  <br></br>
  <input type="submit" id="Edit Landmark">
</form>
