<h1>CREATE A NEW LANDMARK</h1>

<form method="POST" action="/landmarks">
  Create a Landmark:
  <br></br>
  Landmark Name: <input type="text" name="landmark[name]" id="landmark_name">
  <br></br>
  Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br></br>
  <input type="submit" id="Create New Landmark">
</form>
